table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.icon-button img {
    width: 20px;
    height: auto;
}

.container {
    width: 700px;
    margin: 0 auto;
}

body {
    background-color: #000000;
    color: white;
}

.element {
    width: 200px;
}

.element-wrapper {
    display: flex;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(75, 75, 75); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.1); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #575757;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this to the existing styles.css */
#slots-canvas {
    background-color: black;
    display: block;
    margin: 0 auto;
}

#randomize-button {
    display: block;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;
}
/* Add these styles to styles.css */
.font-settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.font-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

h2 {
    text-align: center;
}

